* {
    margin: 0px;
    padding: 0px;
  }

  .container {
    width: 100%;
    display: grid;
    font-family: verdana; 
    font-size: 3vh;
    grid-template-columns: auto;
    grid-template-rows: 4fr 6fr auto;
    grid-template-areas:
      'header'
      'nav'
      'books books books books'
      'footer footer';
  }

  .header {
    display: grid;
    grid-area: header;
    justify-content: space-between;
    margin-right: 3vh;
    margin-left: 3vh;    
    grid-template-areas:
      'h1 h2 h3';    
  }

 .nav {
   margin-left: 5vh;
 }

 .nav-list {
  display: grid;
  margin-top: 10vh;
  grid-area: nav;
  justify-content: center;
  list-style-type: none;
  grid-template-areas:
  'm1 m2 m3 m4';     
}

  .books {
    display: grid;
    grid-area: books;
    grid-template-areas:
    'book'
    'book';   
  }